
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Client/css/tintuc/style.css" rel="stylesheet" />
<style type="text/css">
    p {
        margin-top: 8px;
    }
</style>
<div style="color:blue; width:100%; height:20px; border-bottom:1px solid blue;"><p>GIỚI THIỆU</p></div>
<p>CÔNG TY VĂN PHÒNG PHẨM QUỐC KHÁNH</p>
<p>Được thành lập và hoạt động từ những năm 2009 .</p>

<p>trải qua hơn 10 năm làm việc trong lĩnh vực…..</p>
<p>Văn Phòng Phẩm Quốc Khánh là một trong những doanh nghiệp cung cấp các gói văn phòng phẩm hàng đầu cho các doanh nghiệp, tổ chức. Là đối tác của nhiều doanh nghiệp lớn trên cả nước. Với doanh nghiệp, tổ chức việc mua bán văn phòng phẩm ở các cửa hàng nhỏ lẻ, cá nhân kinh doanh hoặc các doanh nghiệp thiếu uy tín vi phạm các chính sách về thuế. Việc mua bán không hoá đơn văn phòng phẩm, chứng từ hoặc chứng từ không có nguồn gốc minh bạch này gây nhiều rủi ro về pháp luật, khó khăn trong hạch toán chi phí doanh nghiệp</p>

