
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Client/css/tintuc/tincongty.css" rel="stylesheet" />
<link href="~/Assets/Client/css/tintuc/sanpham.css" rel="stylesheet" />
<div id="main">

    <div id="main_right" style="width: 1000px;">
        <div class="main_right_top">
            <div class="s">
                <div class="sp" style="background:#b81d22; color:white;">HOTLINE VĂN PHÒNG PHẨM QUỐC KHÁNH</div>
            </div>
            <div class="gioithieu" style="width: 1000px;">
                <p>----------------------------------------
                <p><h2>Chi nhánh công ty | VĂN PHÒNG PHẨM QUỐC KHÁNH</h2>
                <p class="huongdan"><img src="~/Assets/Client/images/lienhe1.jpg">
                <p class="huongdan"><img src="~/Assets/Client/images/lienhe2.jpg">
                <p>Địa chỉ: Số 42 Trần Phú - Phường Cẩm Tây - Thành Phố Cẩm Phả - Quảng Ninh
                <p><b>HOTLINE CSKH 1900636916</b>
                <p>Tel: 0203.3711.511
                <p>Fax: 0203.371.6996
                <p>Email: quockhanh@gmail.com
                <p>Web: vanphongphamquockhanh.vn
                <p>Fanpage: facebook.com/Vanphongphamquockhanh
            </div>


        </div>
    </div>
</div>
<div id="qc" style="height:1px;">
</div>

