
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; margin-top:50px; margin-bottom: 120px;">
    <h2>Mua Hàng Thành Công</h2>
    <h4>Sản phẩm sẽ được gửi đến bạn trong 2-3 ngày tới.Cảm ơn bạn đã mua hàng. Thanks you</h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Tiếp tục mua hàng.....</a>
</div>

