@model ShopVanPhongPham.Areas.Client.Models.CartItem
<div class="cart">
    <p>
        <a href="/Client/Cart"><span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2"></a>
        <a href="/Client/Cart">@ViewBag.infoCart sản phẩm</a>
        <ul class="dropdown">
            <li>you have no items in your Shopping cart</li>
        </ul>
        </div>
    </p>
</div>
