@model List<Model.EF.Menu>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li class="active"><a href="@item.link" target="@item.target">@item.text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
