body{
	font-family: Tahoma;
	font-size: 13px;
	width: 100%;
	margin: 0px auto;
}
#top{
	width: 1400px;
	height: auto;
}
#top img{
	width: 1400px;
}
#menu_top{
	background:#C61819;
	height:auto;
	width: 1400px;
	text-align: center;
}
#banner {
	width: 1300px;
	margin: 0px auto;
	height: 300px;
}
#banner #banner_left{
	width: 300px;
	min-height: 50px;
	float: left;
	font-weight: bold;
	color: #C61819;
	margin-top: 5px;
}
#banner #banner_right{
	
	min-height: 50px;
	float: left;
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
}
#banner_right img{
	height: 270px;
	width: 960px

}
#main {
	width: 1300px;
	margin: 10px auto 0px;
}
#main #main_left{
	width: 300px;
	min-height: 1000px;
	float:right;
}
#main #main_right{
	width: 900px;
	min-height: 400px;
	float: left;
	margin-left: 30px;
}

#qc{
	height: 200px;
	clear: left;
	width: 100%;
}
#qc .slide-stage .slide-image img{
	width: 300px;
	height: 200px;

}
#footer{
	margin-top: 10px;
	width: 1400px;
	height: 240px;
	clear: left;
	border:1px solid #e0e0e0; 
	background: #131313;
	color: white;
}

#menu_top ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;

}
#menu_top ul li{
	display: inline-table;
	position: relative;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
#menu_top ul li a{
	text-decoration: none;
	display: block;
	padding: 0px 15px 0px 15px;
	color: #FFF;
}
#menu_top ul li a:hover{
	background: red;
	color:#FFF;
}
#menu_top ul li .sub_menu{
	display: none;
	position: absolute;
	width: 150px;
	background: #C61819;
	text-align: left;
}
#menu_top ul li:hover .sub_menu{
	display: block;
} 
#menu_top ul li .sub_menu:hover li{
   width: 150px;
}
#menu_top ul li >.sub_menu3{
	display: none;
	position: absolute;
	width: 150px;
	background: #C61819;
}
#menu_top ul li:hover .sub_menu3{
	display: block;

} 
#menu_top ul li .sub_menu3 li:hover{

   width: 150px;
}
#menu_top ul li >.sub_menu4{
	display: none;
	position: absolute;
	width: 300px;
	background: #C61819;
	text-align: left;


}
#menu_top ul li:hover .sub_menu4{
	display: block;

} 
#menu_top ul li .sub_menu4 li:hover{

   width: 300px;
}
#menu_top ul li >.sub_menu5{
	display: none;
	position: absolute;
	width: 300px;
	background: #C61819;
	text-align: left;

}
.dangnhap{
	margin-left: 50px;
	background: blue;
}

#menu_top ul li:hover .sub_menu5{
	display: block;

} 
#menu_top ul li .sub_menu5 li:hover{

   width: 300px;
}
.block_left_top{
	border: 1px solid #ccc;
}
.tk {
	width: 300px;
	font-size: 16px;
	color: white;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	background: #C61819;
}
.block_left_top ul li{
	list-style-type: none;
	border:1px solid white;
	margin-left:-40px;
	width: 300px;
	height: 40px;
	line-height: 40px;
}
.block_left_top ul li a{
	text-decoration: none;
	font-size: 14px;
	padding-left: 20px;
	display: block;
	background: url(../images/check.png) no-repeat 2px;
	text-indent: 5px;
}
.block_left_top ul li a:hover{
	color:orange;
}
.block_left_bottom{
	border: 1px solid #ccc;
	margin-top: 40px;
}

.block_left_bottom ul li{
	list-style-type: none;
	border:1px solid white;
	margin-left:-40px;
	width: 300px;
	height: 40px;
	line-height: 40px;
}
.block_left_bottom ul li a{
	text-decoration: none;
	font-size: 14px;
	padding-left: 20px;
	display: block;
	background: url(../images/check.png) no-repeat 2px;
	text-indent: 5px;
}
.block_left_bottom ul li a:hover{
	color:orange;
}
.anhbia{
	border: 1px solid #ccc;
	width: 298px;
	height: 960px;
	margin-top: 40px;
}
.anhbia img{
	width: 298px;
	height: 960px;
}
.form{
	width: 900px;
	margin: auto;
	margin-bottom:10px;
	margin-left: 5px;
}
.search{
	width: 80%;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #333399;
}
.submit{
	width: 15%;
	padding: 10px;
	font-size: 20px;
	background:#C61819;
	color: white;
}
.khungsp{
	border: 1px solid blue;
}
.s{
	width: 600px;
}
.sp{
	background: #C61819;
	width: 300px;
	font-size: 16px;
	color: white;
	height: 40px;
	margin-left: 5px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	float: left;
}
.main_right_top{

}
.main_right_top ul{
	float: left;
	margin:0px;
	padding: 0px;
}
.main_right_top ul li{
	list-style-type: none;
    float: left;
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 280px;
    text-align: center;
}
.scale{
	width: 160px;
	height: 160px;
	margin-top: 20px;
	transition: transform 1s;

}	
.main_right_top ul li:hover .scale{
    transform: scale(1.2);
}
.main_right_top ul li .tensp{
	text-align: center;
	margin-top: 0px;
	font-weight: inherit;
	font-size: 14px;
}
.main_right_top ul li .tensp1{
	text-align: center;
	margin-top:-17px;
	font-weight: inherit;
	font-size: 14px;
}
.ct{
	background: #C61819;
	width: 80px;
	height: 20px;
	text-align: center;
	margin:0px auto;
	margin-top: -10px;
}
.ct a{
	text-decoration: none;
	font-size: 14px;
	color: white;
}
.ct a:hover{
	color: orange;
}

.main_right_banner{
}
.main_right_banner ul{
	float: left;
	margin:0px;
	padding: 0px;
}
.main_right_banner ul li{
	position: relative;	
	list-style-type: none;
    float: left;
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 280px;
    text-align: center;

}
.main_right_banner ul li:hover .scale{
    transform: scale(1.2);
}
.main_right_banner ul li .tensp{
	text-align: center;
	margin-top: 0px;
	font-weight: inherit;
	font-size: 14px;
}
.main_right_banner ul li .tensp1{
	text-align: center;
	margin-top: -17px;
	font-weight: inherit;
	font-size: 14px;
}


.main_right_mid{
}
.main_right_mid ul{
	float: left;
	margin:0px;
	padding: 0px;
}
.main_right_mid ul li{
	position: relative;
	list-style-type: none;
    float: left;
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 280px;
    text-align: center;
}
.main_right_mid ul li:hover .scale{
    transform: scale(1.2);
}
.main_right_mid ul li .tensp{
	text-align: center;
	margin-top: 0px;
	font-weight: inherit;
	font-size: 14px;
}
.main_right_mid ul li .tensp1{
	text-align: center;
	margin-top: -17px;
	font-weight: inherit;
	font-size: 14px;
}
.list{
	width: 1240px;
	margin:0px auto;

}
.list1{
	width: 200px;
	margin: 20px 10px;
	float: left;
}
.list1 h3{
	text-align: center;
}
.sanpham li{
    list-style-type: none;
}
.sanpham li a{
	text-decoration: none;
	font-size: 14px;
	color: #ABABAB;
	margin-left:20px;
}
.sanpham li a:hover{
	color: white;
}
.list2{
	width: 300px;
	float: left;
	margin: 20px 10px;
}
.list2 h3{
	text-align: center;
}
.danhmuc li{
    list-style-type: none;
}
.danhmuc li a{
	text-decoration: none;
	font-size: 14px;
	color: #ABABAB;
	margin-left: 20px;
}
.danhmuc li a:hover{
	color: white;
}
.phutung li{
    list-style-type: none;
}
.phutung li a{
	text-decoration: none;
	font-size:14px;
	color: #ABABAB;
	margin-left: 24px;
}
.phutung li a:hover{
	color: white;
}
.tintuc li{
    list-style-type: none;
}
.tintuc li a{
	text-decoration: none;
	font-size:14px;
	color: #ABABAB;
	margin-left: 26px;
}
.tintuc li a:hover{
	color: white;
}
.lienhe li{
    list-style-type: none;
}
.lienhe li a{
	text-decoration: none;
	font-size:14px;
	color: #ABABAB;
	margin-left: 10px;
}
.lienhe li a:hover{
	color: white;
}
.messenger{
	position: fixed;
	right: 10px;
	bottom: 20px;
	background: blue;
}
.messenger img{
	width: 100px;
	height: 70px;
}
.facebook{
	position: fixed;
	right: 10px;
	bottom: 110px;
	background: blue;
}
.facebook img{
	width: 100px;
	height: 70px;
}